/* .middlepie{
    width: 316px;
    height: 413px;
    top: 367px;
    left: 380px;
    padding: 20px 17.315067291259766px 21.643835067749023px 17.315067291259766px;
    border-radius: 10px;
    gap: 4.328766822814941px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px 0px #B4CEFF;
    text-align: left;

} */

.middlepiep{
font-family: Poppins;
font-size: 21px;
font-weight: 300;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
color: #333333;
}